/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2015, 01:21:18 PM
    Author     : aprendiz
*/

body{
    background-image: URL("bird.jpg")
}
.PRIMERA{
    background-color: darkgreen; 
    color: red ;
    width: 250px
}

.segunda{background-color: white; color: blue ;width: 250px;position: absolute;top: 5%;left: 60%} 